@charset "UTF-8";
/* 重置所有標籤的樣式 */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+TC:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 不累加邊框border和內距padding的寬高 */
}

/* 重置字體 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  /* 將預設inline改為block */
  text-decoration: none;
  color: var(--deep);
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #292929;
  letter-spacing: 0.05rem;
  background-color: #F2F2F2;
}

.card {
  padding: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
}
.card h2 {
  font-size: 1.1rem;
  font-weight: 500;
  font-weight: 600;
  margin-bottom: 5px;
}

#dashboard-nav {
  width: 270px;
  min-width: 270px;
  height: 100vh;
  padding: 10px 0 10px 10px;
}
#dashboard-nav .wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #304173;
  border-radius: 10px;
}
#dashboard-nav .wraper .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#dashboard-nav .wraper .down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 20px;
}
#dashboard-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#dashboard-nav ul li {
  padding: 5px 10px;
  border-radius: 50px;
  color: #FDFDFD;
  background-color: transparent;
  transition: all 0.1s ease;
}
#dashboard-nav ul li:not(.active):hover {
  color: #304173;
  background-color: #A6C6EA;
}
#dashboard-nav ul li:not(.active):hover .icon {
  background-color: #304173;
}
#dashboard-nav ul li.active {
  color: #292929;
  background-color: #F2C438;
}
#dashboard-nav ul li.active .icon {
  background-color: #292929;
}
#dashboard-nav ul a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  font-weight: 600;
}
#dashboard-nav ul img {
  width: 35px;
}
#dashboard-nav ul .speedometer {
  width: 35px;
  height: 35px;
  background-color: #FDFDFD;
  mask: url("https://a298034a.github.io/ANJU/images/navbar/speedometer.svg") no-repeat center/contain;
  -webkit-mask: url("https://a298034a.github.io/ANJU/images/navbar/speedometer.svg") no-repeat center/contain;
}
#dashboard-nav ul .home {
  width: 35px;
  height: 35px;
  background-color: #FDFDFD;
  mask: url("https://a298034a.github.io/ANJU/images/navbar/home.svg") no-repeat center/contain;
  -webkit-mask: url("https://a298034a.github.io/ANJU/images/navbar/home.svg") no-repeat center/contain;
}
#dashboard-nav ul .lease {
  width: 35px;
  height: 35px;
  background-color: #FDFDFD;
  mask: url("https://a298034a.github.io/ANJU/images/navbar/lease.svg") no-repeat center/contain;
  -webkit-mask: url("https://a298034a.github.io/ANJU/images/navbar/lease.svg") no-repeat center/contain;
}
#dashboard-nav ul .paintBrush {
  width: 35px;
  height: 35px;
  background-color: #FDFDFD;
  mask: url("https://a298034a.github.io/ANJU/images/navbar/paintBrush.svg") no-repeat center/contain;
  -webkit-mask: url("https://a298034a.github.io/ANJU/images/navbar/paintBrush.svg") no-repeat center/contain;
}
#dashboard-nav ul .moneyBag {
  width: 35px;
  height: 35px;
  background-color: #FDFDFD;
  mask: url("https://a298034a.github.io/ANJU/images/navbar/moneyBag.svg") no-repeat center/contain;
  -webkit-mask: url("https://a298034a.github.io/ANJU/images/navbar/moneyBag.svg") no-repeat center/contain;
}
#dashboard-nav ul .settings {
  width: 35px;
  height: 35px;
  background-color: #FDFDFD;
  mask: url("https://a298034a.github.io/ANJU/images/navbar/settings.svg") no-repeat center/contain;
  -webkit-mask: url("https://a298034a.github.io/ANJU/images/navbar/settings.svg") no-repeat center/contain;
}
#dashboard-nav ul .logout {
  width: 35px;
  height: 35px;
  background-color: #FDFDFD;
  mask: url("https://a298034a.github.io/ANJU/images/navbar/logout.svg") no-repeat center/contain;
  -webkit-mask: url("https://a298034a.github.io/ANJU/images/navbar/logout.svg") no-repeat center/contain;
}

#member {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 40px;
  padding-right: 22px;
  margin-top: 10px;
}
#member .notify {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-image: url(../images/navbar/notify.svg);
  cursor: pointer;
}
#member .profile-wraper {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
#member .profile-wraper .avatar {
  width: 35px;
  height: 35px;
  background-size: contain;
  background-image: url(../images/navbar/avatar.svg);
}
#member .profile-wraper p {
  font-weight: 600;
}

#dashboard-page {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
#dashboard-page .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  gap: 10px;
  padding: 20px 20px;
}
#dashboard-page .row1 {
  height: 270px;
  width: 32.1%;
  min-width: 400px;
}
#dashboard-page .row2 {
  height: 270px;
  width: 48.5%;
  min-width: 650px;
}
#dashboard-page .row3 {
  height: 190px;
  width: 48.5%;
  min-width: 650px;
}

#occupancy-rate .occupancy-rate-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  max-width: 350px;
}
#occupancy-rate .occupancy-rate-chart table {
  position: relative;
  width: 60%;
  color: #FDFDFD;
  /* 使用遮罩來控制顯示區域 */
  animation: sector 0.3s ease-out forwards;
  /* 動畫 */
}
#occupancy-rate .occupancy-rate-chart table::before {
  position: absolute;
  content: "";
  z-index: 1;
  top: 17.5%;
  left: 19%;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background-color: #FDFDFD;
}
#occupancy-rate .occupancy-rate-chart ul {
  border: none;
  width: 40%;
  padding-right: 0;
}
#occupancy-rate .occupancy-rate-chart ul .data {
  color: #FDFDFD;
}
#occupancy-rate .occupancy-rate-chart ul li::before {
  border-radius: 50%;
  border-width: 8px;
}
#occupancy-rate .occupancy-rate-chart ul li:nth-child(1):before {
  border-color: #304173;
}
#occupancy-rate .occupancy-rate-chart ul li:nth-child(2):before {
  border-color: #DCDCDC;
}
#occupancy-rate .occupancy-rate-chart ul li:nth-child(3):before {
  border-color: #F2C438;
}

#monthly-balance {
  display: flex;
  flex-direction: column;
}
#monthly-balance .column tbody td {
  transform-origin: bottom;
  animation: revealing-bars 0.5s linear forwards;
}
#monthly-balance tr {
  --color-1: #F2911B;
  --color-2: #304173;
  --color-3: #CADCF3;
}
#monthly-balance table {
  width: 380px;
  height: fit-content;
  margin-top: 5px;
}
#monthly-balance table th {
  color: #BDBDBD;
  font-weight: normal;
}
#monthly-balance ul {
  display: flex;
  align-self: flex-end;
  gap: 40px;
  margin-top: 10px;
}
#monthly-balance ul li {
  position: relative;
}
#monthly-balance ul li::before {
  position: absolute;
  content: "";
  top: 5px;
  right: 40px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
#monthly-balance ul li:nth-child(1)::before {
  background-color: #F2911B;
}
#monthly-balance ul li:nth-child(2)::before {
  background-color: #304173;
}
#monthly-balance ul li:nth-child(3)::before {
  background-color: #CADCF3;
}

#income-trend table {
  --color-1: #525252;
}
#income-trend table tbody th {
  color: #BDBDBD;
  font-weight: normal;
}
#income-trend table tbody td {
  transform: scaleX(0);
  transform-origin: left;
  animation: revealing-line 0.2s linear forwards;
}
#income-trend table tbody tbody tr:nth-child(2) td {
  animation-delay: 0.2s;
}
#income-trend table tbody tbody tr:nth-child(3) td {
  animation-delay: 0.4s;
}
#income-trend table tbody tbody tr:nth-child(4) td {
  animation-delay: 0.6s;
}
#income-trend table tbody tbody tr:nth-child(5) td {
  animation-delay: 0.8s;
}

#maintenance-reqs table {
  border-collapse: collapse;
  width: 100%;
}
#maintenance-reqs th,
#maintenance-reqs td {
  padding: 8px;
  text-align: left;
}
#maintenance-reqs tr {
  display: table-row;
  /* 保持 tr 的表格行顯示屬性 */
  border-bottom: 1px solid #292929;
  /* 將底線加在 tr 上 */
}
#maintenance-reqs tr:last-child {
  border-bottom: none;
}
#maintenance-reqs .completionTime {
  display: inline-block;
  margin-top: 8px;
  border-radius: 50px;
  color: #FDFDFD;
  padding: 2px 8px;
}
#maintenance-reqs .completionTime.pending {
  background-color: #F2C438;
}
#maintenance-reqs .completionTime.done {
  background-color: #BDBDBD;
}

#prop-overview {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
#prop-overview table {
  border-collapse: collapse;
  width: 100%;
}
#prop-overview table th,
#prop-overview table td {
  padding: 8px;
  text-align: left;
}
#prop-overview table tr {
  display: table-row;
  border-bottom: 1px solid #292929;
}
#prop-overview table tr:last-child {
  border-bottom: none;
}
#prop-overview table .completionTime {
  display: inline-block;
  margin-top: 8px;
  border-radius: 50px;
  color: #FDFDFD;
  padding: 2px 8px;
}
#prop-overview table .completionTime.pending {
  background-color: #F2C438;
}
#prop-overview table .completionTime.done {
  background-color: #BDBDBD;
}
#prop-overview table .warning {
  color: rgb(228, 32, 32);
}
#prop-overview a {
  align-self: flex-end;
  width: fit-content;
  margin-top: 8px;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 99px;
  background-color: #304173;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  color: #FDFDFD;
  padding: 8px 24px;
  overflow: hidden;
}
#prop-overview a:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #5D89D4;
  border-radius: 99px;
  transition: all 0.3s ease;
}
#prop-overview a:hover {
  color: #fff;
}
#prop-overview a:hover:after {
  left: 0;
  width: 100%;
}
#prop-overview a:active {
  top: 2px;
}

#tenant-feedback table {
  border-collapse: collapse;
  width: 100%;
}
#tenant-feedback table th,
#tenant-feedback table td {
  padding: 8px;
  text-align: left;
}
#tenant-feedback table tr {
  display: table-row;
  border-bottom: 1px solid #292929;
}
#tenant-feedback table tr:last-child {
  border-bottom: none;
}
#tenant-feedback .completion {
  display: inline-block;
  margin-top: 8px;
  border-radius: 50px;
  color: #FDFDFD;
  padding: 2px 8px;
}
#tenant-feedback .completion.pending {
  background-color: #F2C438;
}
#tenant-feedback .completion.done {
  background-color: #BDBDBD;
}

#reno-tracking .progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 15px;
}
#reno-tracking .progress-bar .progress-line {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 13px;
  height: 2px;
  background-color: #ccc;
  z-index: 1;
}
#reno-tracking .progress-bar .node {
  position: relative;
  text-align: center;
  z-index: 2;
}
#reno-tracking .progress-bar .node .circle {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}
#reno-tracking .progress-bar .node.completed .circle {
  background-color: #F2911B;
  /* 已完成節點的顏色 */
}
#reno-tracking .progress-bar .node.current .circle {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: #FDFDFD;
  border: 2px solid #ff9800;
  border-radius: 50%;
}
#reno-tracking .progress-bar .node.current .circle .inner-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: #F2911B;
  border-radius: 50%;
}
#reno-tracking .progress-bar .node .label {
  display: block;
  position: absolute;
  margin-top: 5px;
  margin-left: -25px;
  width: 80px;
}
#reno-tracking a {
  top: 24px;
  left: 84%;
  width: fit-content;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 99px;
  background-color: #304173;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  color: #FDFDFD;
  padding: 8px 24px;
  overflow: hidden;
}
#reno-tracking a:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #5D89D4;
  border-radius: 99px;
  transition: all 0.3s ease;
}
#reno-tracking a:hover {
  color: #fff;
}
#reno-tracking a:hover:after {
  left: 0;
  width: 100%;
}
#reno-tracking a:active {
  top: 2px;
}

/* 動畫：逐漸顯示圓餅圖 */
@keyframes sector {
  from {
    clip-path: polygon(50% 50%, 0% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%);
  }
  25.000001% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 0%);
  }
  50% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%);
  }
  50.000001% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  75.000001% {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
}
/* 動畫：長條圖延伸 */
@keyframes revealing-bars {
  0% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(1);
  }
}
/* 動畫：線圖延伸 */
@keyframes revealing-line {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}/*# sourceMappingURL=dashboardstyle.css.map */