@use 'variables' as *;
@use 'funtion' as *;
@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+TC:wght@100..900&display=swap');

body {
    font-family: $font-family-tc;
    color: map-get($color, concrete-950);
    letter-spacing: 0.05rem;

    background-color: map-get($color, concrete-100);
}

.card {
    padding: 20px;
    box-shadow: $shadow-black-10;
    border-radius: 10px;
    background-color: white;

    h2 {
        @include title-m;
        font-weight: 600;
        margin-bottom: 5px;
    }
}

#dashboard-nav {
    width: 270px;
    min-width: 270px;
    height: 100vh;
    padding: 10px 0 10px 10px;

    .wraper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        height: 100%;
        padding: 40px;

        background-color: map-get($color, astronaut-main);
        border-radius: 10px;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 20px;
        }

        .down {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 100%;
            padding-top: 20px;
        }

        @include laptop {
            padding: 5px;

            .top {
                display: none;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            padding: 5px 10px;
            border-radius: 50px;
            color: map-get($color , white);
            background-color: transparent;
            transition: all 0.1s ease;

            &:not(.active):hover {
                color: map-get($color , astronaut-main);
                background-color: map-get($color, astronaut-300);

                .icon {
                    background-color: map-get($color, astronaut-main);
                }
            }

            &.active {
                color: map-get($color , concrete-950);
                background-color: map-get($color, saffron-main);

                .icon {
                    background-color: map-get($color, concrete-950);
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            gap: 10px;

            @include title-m;
            font-weight: 600;
        }

        img {
            width: 35px;
        }

        .speedometer {
            @include icon-mask('https://a298034a.github.io/ANJU/images/navbar/speedometer.svg');
        }

        .home {
            @include icon-mask('https://a298034a.github.io/ANJU/images/navbar/home.svg');
        }

        .lease {
            @include icon-mask('https://a298034a.github.io/ANJU/images/navbar/lease.svg');
        }

        .paintBrush {
            @include icon-mask('https://a298034a.github.io/ANJU/images/navbar/paintBrush.svg');
        }

        .moneyBag {
            @include icon-mask('https://a298034a.github.io/ANJU/images/navbar/moneyBag.svg');
        }

        .settings {
            @include icon-mask('https://a298034a.github.io/ANJU/images/navbar/settings.svg');
        }

        .logout {
            @include icon-mask('https://a298034a.github.io/ANJU/images/navbar/logout.svg');
        }

        @include laptop {
            li {
                padding: 0 3px;
            }

            span {
                display: none;
            }
        }
    }

    @include laptop {
        width: 50px;
        min-width: 50px;
    }
}

#member {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

    width: 100%;
    height: 40px;
    padding-right: 22px;
    margin-top: 10px;

    .notify {
        width: 35px;
        height: 35px;
        background-size: contain;
        background-image: url(../images/navbar/notify.svg);
        cursor: pointer;
    }

    .profile-wraper {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;

        .avatar {
            width: 35px;
            height: 35px;
            background-size: contain;
            background-image: url(../images/navbar/avatar.svg);
        }

        p {
            font-weight: 600;
        }
    }
}

#dashboard-page {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;

        gap: 10px;
        padding: 20px 20px;
    }

    .row1 {
        height: 270px;
        width: 32.1%;
        min-width: 400px;
    }

    .row2 {
        height: 270px;
        width: 48.5%;
        min-width: 650px;
    }

    .row3 {
        height: 190px;
        width: 48.5%;
        min-width: 650px;
    }

    @include laptop {
        .container {
            display: flex;
            justify-content: flex-start;

            gap: 10px;
            padding: 20px 20px;
        }
    }
}

#occupancy-rate {
    .occupancy-rate-chart {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
        width: 100%;
        max-width: 350px;

        table {
            position: relative;
            width: 60%;
            color: map-get($color , white);

            /* 使用遮罩來控制顯示區域 */
            animation: sector 0.3s ease-out forwards;
            /* 動畫 */

            &::before {
                position: absolute;
                content: "";
                z-index: 1;
                top: 17.5%;
                left: 19%;
                width: 65%;
                height: 65%;
                border-radius: 50%;
                background-color: map-get($color, white);
            }
        }

        ul {
            border: none;
            width: 40%;
            padding-right: 0;

            .data {
                color: map-get($color, white);
            }

            li::before {
                border-radius: 50%;
                border-width: 8px;
            }

            li:nth-child(1):before {
                border-color: map-get($color, astronaut-main);
            }

            li:nth-child(2):before {
                border-color: map-get($color, concrete-200);
            }

            li:nth-child(3):before {
                border-color: map-get($color, saffron-main);
            }
        }
    }
}

#monthly-balance {
    display: flex;
    flex-direction: column;

    .column tbody td {
        transform-origin: bottom;
        animation: revealing-bars 0.5s linear forwards;
    }

    //覆寫顏色
    tr {
        --color-1: #F2911B;
        --color-2: #304173;
        --color-3: #CADCF3;
    }

    table {
        width: 380px;
        height: fit-content;
        margin-top: 5px;

        th {
            color: map-get($color, concrete-300);
            font-weight: normal;
        }
    }

    ul {
        display: flex;
        align-self: flex-end;
        gap: 40px;

        margin-top: 10px;

        li {
            position: relative;

            &::before {
                position: absolute;
                content: "";
                top: 5px;
                right: 40px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
            }

            &:nth-child(1)::before {
                background-color: #F2911B;
            }

            &:nth-child(2)::before {
                background-color: #304173;
            }

            &:nth-child(3)::before {
                background-color: #CADCF3;
            }
        }
    }
}

#income-trend {
    table {
        --color-1: #525252;

        tbody {

            th {
                color: map-get($color, concrete-300);
                font-weight: normal;
            }

            td {
                transform: scaleX(0);
                transform-origin: left;
                animation: revealing-line 0.2s linear forwards;
            }

            tbody tr:nth-child(2) td {
                animation-delay: 0.2s;
            }

            tbody tr:nth-child(3) td {
                animation-delay: 0.4s;
            }

            tbody tr:nth-child(4) td {
                animation-delay: 0.6s;
            }

            tbody tr:nth-child(5) td {
                animation-delay: 0.8s;
            }
        }
    }
}

#maintenance-reqs {
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    tr {
        display: table-row;
        /* 保持 tr 的表格行顯示屬性 */
        border-bottom: 1px solid map-get($color, concrete-950);
        /* 將底線加在 tr 上 */
    }

    tr:last-child {
        border-bottom: none;
    }

    .completionTime {
        display: inline-block;
        margin-top: 8px;
        border-radius: 50px;
        color: map-get($color, white);
        padding: 2px 8px;

        &.pending {
            background-color: map-get($color, saffron-main);
        }

        &.done {
            background-color: map-get($color, concrete-300);
        }
    }
}

#prop-overview {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    table {
        border-collapse: collapse;
        width: 100%;


        th,
        td {
            padding: 8px;
            text-align: left;
        }

        tr {
            display: table-row;
            border-bottom: 1px solid map-get($color, concrete-950);
        }

        tr:last-child {
            border-bottom: none;
        }

        .completionTime {
            display: inline-block;
            margin-top: 8px;
            border-radius: 50px;
            color: map-get($color, white);
            padding: 2px 8px;

            &.pending {
                background-color: map-get($color, saffron-main);
            }

            &.done {
                background-color: map-get($color, concrete-300);
            }
        }

        .warning {
            color: rgb(228, 32, 32);
        }
    }

    a {
        align-self: flex-end;
        width: fit-content;
        @include btn-general(map-get($font-size-content, m), map-get($color, astronaut-main), map-get($color, astronaut-500));
    }
}

#tenant-feedback {
    table {
        border-collapse: collapse;
        width: 100%;

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        tr {
            display: table-row;
            border-bottom: 1px solid map-get($color, concrete-950);
        }

        tr:last-child {
            border-bottom: none;
        }
    }

    .completion {
        display: inline-block;
        margin-top: 8px;
        border-radius: 50px;
        color: map-get($color, white);
        padding: 2px 8px;

        &.pending {
            background-color: map-get($color, saffron-main);
        }

        &.done {
            background-color: map-get($color, concrete-300);
        }
    }

}

#reno-tracking {
    display: flex;
    flex-direction: column;    

    .progress-bar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 20px;
        margin-top: 15px;

        .progress-line {
            position: absolute;
            top: 10px;
            left: 0px;
            right: 13px;
            height: 2px;
            background-color: #ccc;

            z-index: 1;
        }

        .node {
            position: relative;
            text-align: center;
            z-index: 2;

            .circle {
                width: 20px;
                height: 20px;
                background-color: #ccc;
                border-radius: 50%;
                margin-bottom: 10px;
            }

            &.completed .circle {
                background-color: map-get($color, carrot-main);
                /* 已完成節點的顏色 */
            }

            &.current .circle {
                position: relative;
                width: 24px;
                height: 24px;
                background-color: map-get($color, white);
                border: 2px solid #ff9800;
                border-radius: 50%;

                .inner-circle {
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    width: 14px;
                    height: 14px;
                    background-color: map-get($color, carrot-main);
                    border-radius: 50%;
                }
            }

            .label {
                display: block;
                position: absolute;
                margin-left: -25px;
                width: 80px;
            }
        }
    }

    a {
        align-self: flex-end;
        margin-top: 12px;
        width: fit-content;
        @include btn-general(map-get($font-size-content, m), map-get($color, astronaut-main), map-get($color, astronaut-500));
    }
}

/* 動畫：逐漸顯示圓餅圖 */
@keyframes sector {
    from {
        clip-path: polygon(50% 50%, 0% 0%, 0% 0%);
    }

    25% {
        clip-path: polygon(50% 50%, 0% 0%, 100% 0%);
    }

    25.000001% {
        clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 0%);
    }

    50% {
        clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%);
    }

    50.000001% {
        clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 100% 100%);
    }

    75% {
        clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    75.000001% {
        clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%);
    }

    to {
        clip-path: polygon(50% 50%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    }
}

/* 動畫：長條圖延伸 */
@keyframes revealing-bars {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(1);
    }
}

/* 動畫：線圖延伸 */
@keyframes revealing-line {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}