//顏色規範 map-get($color, )
$color: (
    //主色
    /* 藍色 */
    astronaut-main:#304173,
    astronaut-50:#F2F6FC,
    astronaut-300:#A6C6EA,
    astronaut-500:#5D89D4,
    astronaut-700:#3f5db6,
    astronaut-800:#384D95,

    /* 橘色 */
    carrot-main:#F2911B,
    carrot-300:#f9c550,
    carrot-400:#f8ac27,
    carrot-600:#D66709,

    /* 黃色 */
    saffron-200:#f8e290,
    saffron-main:#F2C438,
    saffron-400:#eeb321,

    // 灰階
    white: #FDFDFD,
    concrete-100:#F2F2F2,
    concrete-200:#DCDCDC,
    concrete-300:#BDBDBD,
    concrete-400:#989898,
    concrete-600:#656565,
    concrete-950:#292929,
    concrete-950-90:rgba(41, 41, 41, 0.9)
);

$shadow-black-10: 0px 1px 2px 0px rgba(0, 0, 0, 25%);
$shadow-input-inner: rgba(0, 0, 0, 0.2) 0.8px 0.8px 3px 0px inset;
$shadow-text: 1px 1px 2px rgba(0, 0, 0, 35%);