@use '../variables/' as *;

@mixin title-s {
    font-size: map-get($font-size-title, s);
    font-weight: 600;
}

@mixin title-m {
    font-size: map-get($font-size-title, m);
    font-weight: 500;
}

@mixin title-l {
    font-size: map-get($font-size-title, l);
    font-weight: 500;
}

@mixin title-xl {
    font-size: map-get($font-size-title, xl);
    font-weight: 500;
}

@mixin title-xxl {
    font-size: map-get($font-size-title, xxl);
    font-weight: 500;
}

@mixin btn-general($font-size, $bg-color, $hover-color) {
    position: relative;
    z-index: 1;

    font-size: $font-size;
    font-weight: 500;

    border-radius: 99px;

    background-color: $bg-color;
    box-shadow: $shadow-black-10;
    color: map-get($color, white);

    padding: 8px 24px;

    overflow: hidden;

    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: $hover-color;
        border-radius: 99px;

        transition: all 0.3s ease;
    }

    &:hover {
        color: #fff;
    }

    &:hover:after {
        left: 0;
        width: 100%;
    }

    &:active {
        top: 2px;
    }
}

@mixin laptop {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin pad {
    @media (max-width:1025px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:431px) {
        @content;
    }
}

@mixin short {
    @media(max-height:670px) {
        @content;
    }
}

@mixin icon-mask($iconPath) {
    width: 35px;
    height: 35px;
    background-color: map-get($color, white);
    mask: url($iconPath) no-repeat center / contain;
    -webkit-mask: url($iconPath) no-repeat center / contain;
}